python-dotenv==1.0.1
customtkinter==5.2.2
pytesseract==0.3.13
easyocr==1.7.2
google-generativeai==0.8.3
Pillow==11.0.0
requests==2.32.3
keyboard==0.13.5
torch==2.5.1
winocr==0.0.15
numpy>=1.24.0
opencv-python>=4.10.0.84
